<div class="content-container">
<div class="grid-container">
<nav class="nav">
	<ul>
		<li><a href="/">home</a></li>
		<li><a href="/about">about</a></li>
		<li><a href="/memes?id=maymays">memes</a></li>
		<li><a href="/alv">alv</a></li>
	</ul>
</nav>

<div id="particles-js"><script>particlesJS.load("particles-js", "particles.json");</script></div>

<div class="background-wrapper">
<div class="body-wrapper">
