<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="stylesheet" href="/css/about.css">
	<% include ../partials/head %>
</head>
<body>

	<% include ../partials/nav %>


		<div class="profile-wrapper">
			<span class="profile-image-wrapper">
				<img src="profile.jpg" class="profile">
			</span>
				<span class="profile-content-wrapper">
					Hello goodbye, I can make very good maymays 
				</span>
		</div>
	<div>
		<p>
		Another article
		</p>
	</div>

	<% include ../partials/footer %>	


</body>
</html>
