<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<% include ../partials/head %>
	<link rel="stylesheet" type="text/css" href="memes.css">
</head>
<body>
	<% include ../partials/nav %>

	<section class="main"><img src="meempie.png" alt=""></section>

	<% include ../partials/footer %>

</body>
</html>
